@import "variables.scss";

.catalog{
  padding: 60px 0;
  color: $text-color;
  font-size: 16px;
  line-height: 24px;
  h2{
    margin-top: 0;
    white-space: nowrap;
    margin-bottom: 40px;
  }
  &_fx-container{
    display: flex;
  }
  &_content{
    width: 80%;
    padding-right: 50px;
    .fx-container{
      display: flex;
    }
    .image{
      margin: 0 0 40px;
      width: 50%;
      padding-top: 20px;
    }
    .text{
      padding-left: 30px;
      width: 50%;
    }
  }
  &_navigation{
    width: 20%;

    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      margin-top: 15px;
      font-size: 17px;
      li{
        a{
          display: block;
          text-decoration: none;
          color: $text-color;
          padding: 12px;
          &.active{
            background-color: $green-color;
            color: #fff;

            &:hover{
              background-color: $green-color;
              color: #fff;
              cursor: inherit;
            }
          }
          &:hover{
            background-color: $light-bg-color;

          }
        }
      }
    }
  }
}

@media(max-width:1100px){
  .catalog_content{
    padding-right: 30px;
    width: 75%;
  }
  .catalog_navigation{
    width: 25%;
  }
}

@media(max-width:1250px){
  .catalog{
    &_content {
      .fx-container {
        flex-wrap: wrap;
      }

      .image {
        width: 100%;
       margin-bottom: 0;
      }

      .text {
        padding-left: 0;
        width: 100%;
      }
    }
  }
}

@media(max-width:900px){
  .catalog{
    padding: 30px 0 60px;
    &_fx-container{
      flex-wrap: wrap;
    }
    &_content, &_navigation{
      width: 100%;
    }
    &_content{
      order: 2;
      padding-right: 0;
    }
    &_navigation{
      order: 1;
      margin-bottom: 10px;
      ul{
        display: flex;
        flex-wrap: wrap;
        li{
          padding: 6px 15px 6px 0;
          border: none;
          a{
            padding: 6px 12px;
          }
        }
      }
    }
  }
}

@media(max-width:480px){
  .catalog{
    padding: 15px 0 25px;
    &_content{
      .image{
        margin: 40px 0 20px;
      }
    }
  }
}


.card.card-gorisintal{
  margin-left: 100px;
  margin-bottom: 40px;
  .card-body{
    display: flex;
    padding: 40px 0;

  }
  .card-image{
    width: 30%;
    height: auto;
    position: relative;
    img{
      position: relative;
      width: calc(100% + 100px);
      left:-100px;
    }
  }
  .card-block{
    width: 70%;
    padding-left: 30px;
    padding-bottom: 0;
  }
  h4{
    font-size: 22px;
    margin-bottom: 15px;
  }
  .card-actions{
    padding-top: 10px;
    justify-content: flex-end;
    position: static;
  }
  .card-block-wrapper{
    display: block;
  }

}

@media(max-width: 850px){
  .card.card-gorisintal{
    margin-left: 0;
    .card-body{
      flex-wrap: wrap;
      padding:0 0 30px;
    }
    .card-image{
      width: 100%;
      img{
        position: static;
        width: 100%;
      }
    }
    .card-block{
      width: 100%;
    }
  }
}

@media(max-width: 480px){
  .card.card-gorisintal {
    padding: 20px 0 0;
   margin-bottom: 0;
    .card-body{
      box-shadow: none;
      padding-bottom: 0;
    }
    .card-block{
      padding-right: 0;
      padding-left:0;
    }
  }

}
