@import "variables.scss";

.catalog{
  padding: 60px 0;
  color: $text-color;
  font-size: 16px;
  line-height: 24px;
  h2{
    margin-top: 0;
    white-space: nowrap;
    margin-bottom: 40px;
  }
  &_fx-container{
    display: flex;
  }
  &_content{
    width: 80%;
    padding-right: 80px;
    .fx-container{
      display: flex;
    }
    .image{
      margin: 0 0 40px;
      width: 50%;
      padding-top: 20px;
    }
    .text{
      padding-left: 30px;
      width: 50%;
    }
  }
  &_navigation{
    width: 20%;

    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      margin-top: 15px;
      font-size: 18px;

      li{
        border-bottom: 1px solid #e9e9e9;
        padding: 12px 0;
        a{
          text-decoration: none;
          color: $text-color;
          &.active{
            color:$blue-color;
          }
          &:hover{
            color:$blue-color;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media(max-width:1250px){
  .catalog{
    &_content {
      .fx-container {
        flex-wrap: wrap;
      }

      .image {
        width: 100%;
       margin-bottom: 0;
      }

      .text {
        padding-left: 0;
        width: 100%;
      }
    }
  }
}

@media(max-width:900px){
  .catalog{
    padding: 30px 0 60px;
    &_fx-container{
      flex-wrap: wrap;
    }
    &_content, &_navigation{
      width: 100%;
    }
    &_content{
      order: 2;
      padding-right: 0;
    }
    &_navigation{
      order: 1;
      margin-bottom: 40px;
      ul{
        display: flex;
        flex-wrap: wrap;
        li{
          padding: 6px 15px 6px 0;
          border: none;
        }
      }
    }
  }
}

@media(max-width:480px){
  .catalog{
    &_content{
      .image{
        margin: 40px 0 20px;
      }
    }
  }
}