@import "variables.scss";

.changeImg-content{
  width: 100%;
  display: flex;
  align-items: center;
  .image{
    width: 200px;
    padding-top: 30px;
  }
  .fields{
    width: 80%;
    padding-left: 30px;
  }
}

.edit_sort-form{

  .form-wrapper{
      padding-bottom: 30px;
      border-bottom: 2px solid $blue-color;
  }
  .imageList{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    &_item{
      width: 25%;
      padding: 15px;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      .overcast{
        position: absolute;
        top:15px;
        right: 15px;
        bottom:18px;
        left: 15px;
        transition: opacity 0.2s;
      }
     .delete-file{
       width: 20px;
       height: 20px;
       position: absolute;
       top:5px;
       right: 5px;
       cursor: pointer;
       svg{
         width: 100%;
         fill: #fff;
       }
     }
    }
  }
}

.categories-table{
  width: 100%;
  border-bottom: 2px solid $blue-color;
  padding: 30px 0;
}

@media(max-width: 750px){
  .edit_sort-form{
    .imageList{
      &_item{
        width: 50%;
      }
    }
  }
}
