@import "variables.scss";

.gallery{
  padding:55px 0 10px;
  .gallery-wrapper{
        margin:0 auto;
        display:flex;
      //  justify-content:space-between;
        flex-wrap:wrap;
      }
  .card{
    box-sizing: border-box;
    width:25%;
    margin-bottom: 30px;
    padding: 0 20px;
  }
}

.card{
  box-sizing: border-box;
  border: 0;
  padding: 30px;
  font-size: 1rem;
  font-weight: normal;

  .card-body {
    padding: 0;
    height: auto;
    box-shadow:$card-box-shadow;
    background-color: #fff;
  }
  .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .card-block {
    padding: 0.5rem 1.5rem 1.5rem;

  }
  .card-block-wrapper{
    min-height: 110px;
    position: relative;
  }
  .card-actions{
    display: flex;
    justify-content: space-between;
     position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
  }
  h4{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05rem;
    font-size: 18px;
    margin: 0;

  }
}

@media(max-width:1580px){
  .gallery{
    .card{
       width: 33.33%;
    }
  }
}

@media(max-width:1160px){
  .gallery{
    .card{
      width: 50%;
      margin-bottom: 30px;
    }
  }
}

@media(max-width:680px){
  .gallery{
    .card{
      width:100%;
      padding: 0;
      margin-bottom: 30px;
    }
  }
}

