@import "variables.scss";

.gallery{
  padding:55px 0 10px;
  .gallery-wrapper{
        margin:0 auto;
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
      }
  .card{
    width:23%;
    margin-bottom: 30px;
  }
}

.card{
  border: 0;
  box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
  font-size: 1rem;
  font-weight: normal;
  background-color: #fff;
  .card-body {
    padding: 0;
    height: auto;
  }
  .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .card-block {
    padding: 0.5rem 1.5rem 1.5rem;

  }
  .card-block-wrapper{
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-actions{
    display: flex;
    justify-content: space-between;
  }
  h4{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05rem;
    font-size: 18px;
    margin: 0;
  }
}

@media(max-width:1580px){
  .gallery{
    .card{
       width: 32%;
    }
  }
}

@media(max-width:1160px){
  .gallery{
    .card{
      width: 48%;
      margin-bottom: 30px;
    }
  }
}





@media(max-width:680px){
  .gallery{
    .card{
      width:100%;
      margin-bottom: 30px;
    }
  }
}

