@import "variables.scss";

.top-navigation{
  top:0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: $box-shadow;
  height: 90px;
  &_fixed{
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-animation: fixMenu .4s ease;
    animation: fixMenu .4s ease;
    height: 75px;
  }
}

@keyframes fixMenu {
  from {
    top: -105px;
  }
  to {
    top:0;
  }
}


 .input-panel{
    display: inline-block;
    ul{
      display:flex;
      list-style:none;
      background-color:$pink-color;
      margin:0;
      padding:0;
      overflow:hidden;
      li{
        &:hover{
          background-color:lighten($pink-color, 15%);
        }
        a{
          display: block;
          font-size:11px;
          color:#fff;
          padding:15px 30px;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
          font-family: 'Roboto';
          font-weight: 800;
        }
      }
    }
    .login{
      border-right: 1px solid lighten($pink-color, 10%);
    }

  }



header{
    background-color: #fff;
  a{
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
  }
  .header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .logo{
    width: 240px;
    font-family: LavanderiaC;
    font-size:41px;
    max-width:240px;
    flex-grow:1;
    text-align:left;
    text-transform:none;
    font-weight: 400;
    .gray{
      color:#000;
    }
    .pink{
      color:$pink-text-color;
    }
  }

  .navigation{
    flex-grow: 1;
    ul{
      list-style: none;
      display: flex;
      li{
        padding: 0 15px;
        a{
          color:#000;
          &:hover{
            color:$pink-color;
          }
        }
      }
    }
  }
}


.user{
   text-transform: none;
  margin-left:40px;
  text-align:center;
  .name{
     color:$pink-text-color;
     display:inline-block;
     span, a{
      color:$pink-color;
      margin-right: 10px;
     }
  }
  .exit{
     background-color:$pink-color;
     // border-radius:4px;
       margin-left:20px;
         font-size:11px;
          color:#fff;
          padding:15px 30px;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
          font-family: 'Montserrat', sans-serif;
          font-weight: 800;
           &:hover{
          background-color:#ff253e;
        }
  }
  img{
    vertical-align:bottom;
    margin-right:3px;
  }
}



@media(max-width:950px){
  header{
    .navigation{
      display: none;
    }
    .actions, .user{
      flex-grow: 1;
      text-align: right;
      margin-right: 40px;
  
    }
    .burger{
      display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url('/img/burger.png') center center no-repeat;
    background-size: 30px;
       &.cross{
        background: url('../img/tag-close.svg') no-repeat;
        background-position: center left;
        background-size: 25px;
      }
    }
  }
}




@media(max-width:700px){
  header{
     .user{
      display: none;
    }
  }
}



@media(max-width:590px){
  header{
    .actions, .user{
      display: none;
    }
  }
}
