@import "variables.scss";
@import "mixins.scss";

.posts-list{
  padding-bottom: 100px;

  .posts-list-content{
    box-shadow: $box-shadow;
    padding-top: 10px;
  }
  .posts{
    display: flex;
    flex-wrap: wrap;
  }
  .post{
    width: 25%;
     @include post-card;
  }
  .all-posts-link{
    text-align: right;
    padding: 0 10px 10px 0;
    a{
      color: $green-color;
      text-decoration: none;
      &:hover{
       text-decoration: underline;
      }
    }
  }

}

@media (max-width: 1400px) {
  .posts-list{
    padding-bottom: 80px;
    .post{
      width: 25%;
    }
  }
}


@media (max-width: 950px) {
  .posts-list{
    padding-bottom: 40px;
    .post{
      width: 50%;
    }
  }
}


@media (max-width: 550px) {
  .posts-list{
    .posts-list-content{
      box-shadow: none;
    }
    .post{
      width: 100%;
      padding: 0;
    }
  }
}

