@import "variables.scss";
@import "mixins.scss";

.posts-list{
  padding: 80px 0;
  .posts{
    display: flex;
    flex-wrap: wrap;
  }
  .post{
    width: 20%;
     @include post-card;
  }

}


@media (max-width: 1400px) {
  .posts-list{
    padding: 60px 0;
    .post{
      width: 25%;
    }
  }
}


@media (max-width: 950px) {
  .posts-list{
    padding: 40px 0;
    .post{
      width: 33.33%;
    }
  }
}

@media (max-width: 750px) {
  .posts-list{
    padding-bottom: 40px;
    .post{
      width: 50%;
    }
  }
}


@media (max-width: 550px) {
  .posts-list{
    padding-bottom: 40px;
    .post{
      width: 100%;
      padding: 0;
    }
  }
}

