@import "variables.scss";

.mobile-menu{
  box-sizing: border-box;
  position: fixed;
  z-index: 400;
  top:75px;
  right: 0;
  box-shadow: $box-shadow;
  background-color: #fff;
  border-top: $gray-border;
  width: 300px;
  height: 300px;
  overflow: hidden;
  &.hidden{
    display: none;
  }
  &_wrapper{
    text-transform: uppercase;
    height:calc(100% - 50px);
    max-height:calc(100% - 50px);
    width: 100%;
    overflow-y: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &_item{
  	margin: 20px 0;
  	a{
  		text-decoration: none;
  		font-size: 15px;
  		font-weight: 800;
  		color: $black-color;
  	}
  }
  .input-panel, .user{
    display: none;
  	margin: 0 auto 30px;
  }
}

@media(max-width:700px){
  .mobile-menu{
    box-shadow: none;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    overflow: auto;
    .user{
      display: inline-block;
    }
  }
}

@media(max-width:590px){
  .mobile-menu{
    .input-panel{
      display: inline-block;
    }
  }
}
